table {
    border-spacing: 0;
    border-collapse: collapse;
}
tr {
    background-color: $card-color;
}
tbody{
    tr:hover {
        background-color: $hover-color;
        color: white;
    }
}
th {
    border: 1px solid #2c4259;
    padding: 5px;
    font-size: 110%;
    color: white;
    background-color: $third-color;
}
td {
    text-align: center;
    padding: 5px 20px;
    border: 1px solid #2c4259;
}
